body.container {
  display: grid;
  grid-template-columns: minmax(20px, 1fr) minmax(600px, 60%) minmax(20px, 1fr);
}

.headerContainer {
  background: white;
  display: grid;
  grid-template-columns: 1fr minmax(10px, 200px) 1fr;
  padding: 10px;
}

.hLeft {
  text-align: right;
}

.avatar {
  border-radius: 50%;
}

body {
      background: #33B9CC;
  font-family: 'Raleway', sans-serif;
}

h1, h2 {
  font-family: 'Cinzel Decorative', cursive;
  align-self: center;
padding: 1.5em;
}
