body {
  background: #4CA1AF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #C4E0E5, #4CA1AF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #C4E0E5, #4CA1AF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-family: 'Raleway', sans-serif;
}
.avatar {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

ul {
  list-style-type: circle;
}

h1, h2 {
  font-family: 'Cinzel Decorative', cursive;
}

strong {
  text-decoration: underline;
  font-weight: bold;
}

em {
  font-style: italic;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: red;
}
